@import "../scss/font.scss";
html,
body {
  height: 100%;
}
.page {
  background-color: #000000;
  background-image: url(../img/bg_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  min-width: 320px;
  width: 32.6041%;
  height: 434px;
  border-radius: 4px;
  background-color: #f0f0f0;
  background-image: url(../img/form_bg2.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.form__image {
  display: block;
  width: 97px;
  height: 97px;
  margin: 5px 0 22px;
}
.form__input {
  display: block;
  width: 369px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding: 14px 50px 12px;
}
.form__input-wrapper {
  margin: 10px 129px 5px 128px;
}

.form__input:hover,
.form__input:focus,
.form__input:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-color: #ffffff;
}
.form__checkbox-wrapper {
  display: block;
  position: relative;
}
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  position: absolute;
  width: 44px;
  height: 24px;
  padding-left: 52px;
  line-height: 1.5em;
  background-image: url(../img/checkbox_icon.png);
  background-repeat: no-repeat;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  outline-color: #f0f0f0;
}
.checkbox:checked {
  background-image: url(../img/checkbox_icon_active.svg);
  background-repeat: no-repeat;
}
.form__group {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px 30px 5px;
}
.form__button_submit {
  width: 151px;
  height: 48px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2.53px;
  margin-bottom: 45px;
  opacity: 0.2;
}
.form__nav-link {
  width: 100%;
  padding-left: 21px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 1.45em;
  text-transform: uppercase;
  color: #ffffff;
}
.form__link {
  display: block;
  height: 24px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-image: url(../img/Line.svg);
  background-repeat: no-repeat;
  background-position: 4px 20px;
}

.valid {
  display: block;
  border: 1px solid #ffffff;
  background-color: transparent;
  background-image: url(../img/check_ok.svg);
  background-repeat: no-repeat;
  background-position: 325px 15px;
  color: #ffffff;
}
.invalid {
  display: block;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  background-image: url(../img/error_icon.svg);
  background-repeat: no-repeat;
  background-position: 325px 7px;
  color: #ff0000;
}
